@charset "UTF-8";
body {
            margin: 0;
            height: 100vh;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #11998e, #38ef7d);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background: white;
            width: 360px;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 15px 35px rgba(0,0,0,0.3);
            text-align: center;
        }

        h2 {
            color: #11998e;
            margin-bottom: 20px;
        }

        input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 20px;
            border: 1px solid #ccc;
            outline: none;
        }

        button {
            width: 95%;
            padding: 12px;
            margin-top: 15px;
            border: none;
            border-radius: 25px;
            background: #11998e;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #0c7b70;
        }

        .link {
            margin-top: 15px;
            font-size: 14px;
        }

        .link a {
            color: #11998e;
            text-decoration: none;
            font-weight: bold;
        }